In [1]:
import pandas as pd

In [2]:
df1=pd.read_excel('Appol Datos.xlsx')
df1

,Periodo,Tipo Producto,Region,Ingresos,Gastos,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Q1 2019,Accesorios,AGO - África/Angola,66319.703782,56708.152509,NaN,NaN,NaN,NaN,NaN
1,Q1 2019,Aplicaciones,AGO - África/Angola,122357.282946,77039.770744,NaN,NaN,NaN,NaN,NaN
2,Q1 2019,Celulares,AGO - África/Angola,265278.815126,215226.208498,NaN,NaN,NaN,NaN,NaN
3,Q1 2019,Musica,AGO - África/Angola,130447.020661,86964.680441,NaN,NaN,NaN,NaN,NaN
4,Q1 2019,PC,AGO - África/Angola,394602.237500,326567.368966,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
4699,Q4 2021,Celulares,NZL - Oceanía/Nueva Zelanda,47516.938982,41006.107343,NaN,NaN,NaN,NaN,NaN
4700,Q4 2021,Musica,NZL - Oceanía/Nueva Zelanda,26290.625226,15057.358084,NaN,NaN,NaN,NaN,NaN
4701,Q4 2021,PC,NZL - Oceanía/Nueva Zelanda,99027.767437,83854.981129,NaN,NaN,NaN,NaN,NaN
4702,Q4 2021,Tablets,NZL - Oceanía/Nueva Zelanda,16346.893049,13292.605137,NaN,NaN,NaN,NaN,NaN
4703,Q4 2021,TV,NZL - Oceanía/Nueva Zelanda,6571.491561,4343.310186,NaN,NaN,NaN,NaN,NaN

In [3]:
df2=pd.read_excel('Appol Datos.xlsx',sheet_name='Tabla Productos')
df2

  Tipo Producto Categoria Producto
0        Musica            Digital
1            TV            Digital
2  Aplicaciones            Digital
3            PC       Dispositivos
4     Celulares       Dispositivos
5       Tablets       Dispositivos
6    Accesorios       Dispositivos

In [4]:
df1= df1.drop(['Unnamed: 5','Unnamed: 6','Unnamed: 7','Unnamed: 8','Unnamed: 9'], axis=1)

In [5]:
df1[['Trimestre','Año']]=df1.Periodo.str.split(' ',expand=True)
df1['Trim']=df1['Trimestre'].replace({"Q1": '15/02/', "Q2": '15/05/', "Q3": '15/08/', "Q4": '15/11/'})
df1['Fecha']=df1.Trim+df1.Año
df1=df1.drop(['Periodo','Trimestre','Trim','Año'], axis=1)

In [6]:
df1[['Region2','Pais']]=df1.Region.str.split('/',expand=True)
df1[['Pais Abreviado','Continente']]=df1.Region2.str.split('-',expand=True)
df1=df1.drop(['Region','Region2'],axis=1)

In [7]:
df1=df1.round({'Ingresos': 2, 'Gastos': 2})
df1

,Tipo Producto,Ingresos,Gastos,Fecha,Pais,Pais Abreviado,Continente
0,Accesorios,66319.70,56708.15,15/02/2019,Angola,AGO,África
1,Aplicaciones,122357.28,77039.77,15/02/2019,Angola,AGO,África
2,Celulares,265278.82,215226.21,15/02/2019,Angola,AGO,África
3,Musica,130447.02,86964.68,15/02/2019,Angola,AGO,África
4,PC,394602.24,326567.37,15/02/2019,Angola,AGO,África
...,...,...,...,...,...,...,...
4699,Celulares,47516.94,41006.11,15/11/2021,Nueva Zelanda,NZL,Oceanía
4700,Musica,26290.63,15057.36,15/11/2021,Nueva Zelanda,NZL,Oceanía
4701,PC,99027.77,83854.98,15/11/2021,Nueva Zelanda,NZL,Oceanía
4702,Tablets,16346.89,13292.61,15/11/2021,Nueva Zelanda,NZL,Oceanía
4703,TV,6571.49,4343.31,15/11/2021,Nueva Zelanda,NZL,Oceanía

In [9]:
df3=pd.merge(df1,df2,on='Tipo Producto')
df3

,Tipo Producto,Ingresos,Gastos,Fecha,Pais,Pais Abreviado,Continente,Categoria Producto
0,Accesorios,66319.70,56708.15,15/02/2019,Angola,AGO,África,Dispositivos
1,Accesorios,88128.95,73914.61,15/02/2019,Argentina,ARG,América,Dispositivos
2,Accesorios,54365.02,39867.68,15/02/2019,Australia,AUS,Oceanía,Dispositivos
3,Accesorios,21115.40,18300.01,15/02/2019,Austria,AUT,Europa,Dispositivos
4,Accesorios,33098.74,29501.05,15/02/2019,Bélgica,BEL,Europa,Dispositivos
...,...,...,...,...,...,...,...,...
4699,TV,2544887.38,1564868.64,15/11/2021,Estados Unidos,USA,América,Digital
4700,TV,49235.31,26855.62,15/11/2021,Venezuela,VEN,América,Digital
4701,TV,49268.98,31021.21,15/11/2021,Yemen,YEM,Asia,Digital
4702,TV,104020.98,59465.33,15/11/2021,Sudáfrica,ZAF,África,Digital
4703,TV,6571.49,4343.31,15/11/2021,Nueva Zelanda,NZL,Oceanía,Digital

In [10]:
df3['Beneficio']=df3['Ingresos']-df3['Gastos']
df3['Margen Beneficio']= df3['Beneficio']/df3['Ingresos'] *100

,Tipo Producto,Ingresos,Gastos,Fecha,Pais,Pais Abreviado,Continente,Categoria Producto,Beneficio,Margen Beneficio
0,Accesorios,66319.70,56708.15,15/02/2019,Angola,AGO,África,Dispositivos,9611.55,14.492753
1,Accesorios,88128.95,73914.61,15/02/2019,Argentina,ARG,América,Dispositivos,14214.34,16.129025
2,Accesorios,54365.02,39867.68,15/02/2019,Australia,AUS,Oceanía,Dispositivos,14497.34,26.666669
3,Accesorios,21115.40,18300.01,15/02/2019,Austria,AUT,Europa,Dispositivos,2815.39,13.333349
4,Accesorios,33098.74,29501.05,15/02/2019,Bélgica,BEL,Europa,Dispositivos,3597.69,10.869568
...,...,...,...,...,...,...,...,...,...,...
4699,TV,2544887.38,1564868.64,15/11/2021,Estados Unidos,USA,América,Digital,980018.74,38.509317
4700,TV,49235.31,26855.62,15/11/2021,Venezuela,VEN,América,Digital,22379.69,45.454553
4701,TV,49268.98,31021.21,15/11/2021,Yemen,YEM,Asia,Digital,18247.77,37.037036
4702,TV,104020.98,59465.33,15/11/2021,Sudáfrica,ZAF,África,Digital,44555.65,42.833330
4703,TV,6571.49,4343.31,15/11/2021,Nueva Zelanda,NZL,Oceanía,Digital,2228.18,33.906770

In [11]:
df3 = df3[['Tipo Producto','Categoria Producto','Continente','Pais','Pais Abreviado','Fecha','Ingresos','Gastos','Beneficio','Margen Beneficio']]

In [12]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4704 entries, 0 to 4703
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Tipo Producto       4704 non-null   object
 1   Categoria Producto  4704 non-null   object
 2   Continente          4704 non-null   object
 3   Pais                4704 non-null   object
 4   Pais Abreviado      4704 non-null   object
 5   Fecha               4704 non-null   object
 6   Ingresos            4704 non-null   float64
 7   Gastos              4704 non-null   float64
 8   Beneficio           4704 non-null   float64
 9   Margen Beneficio    4704 non-null   float64
dtypes: float64(4), object(6)
memory usage: 404.2+ KB

In [13]:
df3

,Tipo Producto,Categoria Producto,Continente,Pais,Pais Abreviado,Fecha,Ingresos,Gastos,Beneficio,Margen Beneficio
0,Accesorios,Dispositivos,África,Angola,AGO,15/02/2019,66319.70,56708.15,9611.55,14.492753
1,Accesorios,Dispositivos,América,Argentina,ARG,15/02/2019,88128.95,73914.61,14214.34,16.129025
2,Accesorios,Dispositivos,Oceanía,Australia,AUS,15/02/2019,54365.02,39867.68,14497.34,26.666669
3,Accesorios,Dispositivos,Europa,Austria,AUT,15/02/2019,21115.40,18300.01,2815.39,13.333349
4,Accesorios,Dispositivos,Europa,Bélgica,BEL,15/02/2019,33098.74,29501.05,3597.69,10.869568
...,...,...,...,...,...,...,...,...,...,...
4699,TV,Digital,América,Estados Unidos,USA,15/11/2021,2544887.38,1564868.64,980018.74,38.509317
4700,TV,Digital,América,Venezuela,VEN,15/11/2021,49235.31,26855.62,22379.69,45.454553
4701,TV,Digital,Asia,Yemen,YEM,15/11/2021,49268.98,31021.21,18247.77,37.037036
4702,TV,Digital,África,Sudáfrica,ZAF,15/11/2021,104020.98,59465.33,44555.65,42.833330
4703,TV,Digital,Oceanía,Nueva Zelanda,NZL,15/11/2021,6571.49,4343.31,2228.18,33.906770

In [15]:
#df3.to_csv('Trabajo tableau en traspaso.csv')
df3.to_excel('trabajo tableau a excel.xlsx', index= False)